@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans);
  margin: 0;
  line-height: 1.6;
}

html.light body {
  background: #ffffff;
  color: #171717;
}

html.dark body {
  background: #0a0a0a;
  color: #ededed;
}
